<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Range</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="asset/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">



      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
		  </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">

    </section><!-- End Counts Section -->


    <section id="services" class="services section-bg">
      <div class="container" align='center'>

        <div class="section-title">
          <h2>--------Range--------</h2>


                <br>


                <form method="POST" action="{% url 'analyze' %}">
                    {% csrf_token %}
                    <div class="input-group" align="center">
                     <h1>Enter the Range for Time between 0.000 to 20.000 </h1>

						<div align='center'>
                    <input id=demoInput type=number name="rangeone" min=0.000 max=20.000 step="any" style ="height:30px;width:80px">
                    <input id=demoInput2 type=number name="rangetwo" min=0.000 max=20.000 step="any" style ="height:30px;width:80px">

                    <div align='center'style="color:black">



    <div class="custom-control custom-switch">
  <input type="checkbox" name="MEAN" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">MEAN</label>
</div>
    <input type="checkbox" name="MEDIAN"> MEDIAN<br>
    <input type="checkbox" name="MODE"> MODE<br>
     <input type="checkbox" name="STDEV"> STANDARDDEVIATION<br>
    <input type="checkbox" name="Q1Q3"> Q1 and Q3<br>
                <input type="checkbox" name="IQR"> IQR<br>


</div>


<button type="submit" class="btn btn-dark mt-2">Analyze</button>
</div>
                </div>



        </div>


    </section><!-- End Services Section -->

		 <section id="counts" class="counts">

    </section>

    <!-- =================== -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="asset/vendor/php-email-form/validate.js"></script>
  <script src="asset/vendor/purecounter/purecounter.js"></script>
  <script src="asset/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>